body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

/* Main */
.body {
  border: 1px solid gray;
  margin: auto;
  border-radius: 5px;
  max-width: 550px;
  box-shadow: 9px 10px 22px -12px rgba(92, 85, 148, 0.75);
  -webkit-box-shadow: 9px 10px 22px -12px rgba(92, 85, 148, 0.75);
  -moz-box-shadow: 9px 10px 22px -12px rgba(92, 85, 148, 0.75);
  padding-left: 1rem;
}
.row {
  padding: 15px;
  padding-left: 40px;
  padding-right: 1px;
}
.container {
  margin-top: 10%;
  display: block;
}
.border {
  margin: 0px 86px;
  padding-top: auto;
  padding-right: 0px;
}
.dayAndTime,
.city-name {
  padding-left: 8%;
  padding-top: 1rem;
}

/* WeatherDescription */
/* Temp Units Icon Descript */
.temperature {
  font-size: 3rem;
  font-weight: 360;
}
.temperature,
.units {
  margin-top: 2rem;
}

.units {
  position: relative;
  top: -17px;
}
.fa-cloud {
  text-align: center;
  font-size: 3rem;
  color: #2d2d50;
}
.tempIcon {
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 25%;
  padding-top: 1rem;
}

.description,
.icon {
  text-transform: capitalize;
}
.description {
  font-size: 1.3rem;
}
/* End Temp Units Icon Descript */

.signature {
  margin-top: 5%;
  display: block;
  margin-bottom: 20%;
  padding-left: 10%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
