body {
background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
background-size: cover;
}

/* Main */
.body {
  margin: auto;
  border-radius: 25px;
  max-width: 550px;
  box-shadow: 4px 5px 19px 11px rgba(92,85,148,0.26);
-webkit-box-shadow: 4px 5px 19px 11px rgba(92,85,148,0.26);
-moz-box-shadow: 4px 5px 19px 11px rgba(92,85,148,0.26);
  padding-left: 1rem;
  background-color: white;
}
.row {
  padding: 15px;
  padding-left: 40px;
  padding-right: 1px;
}
.container {
  margin-top: 5%;
  display: block;
}
.border {
  margin: 0px 86px;
  padding-top: auto;
  padding-right: 0px;
}
.dayAndTime,
.city-name {
  padding-left: 8%;
  padding-top: 1rem;
}
.dayAndTime {
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 22%;
}

/* SearchEngine */
.btn-outline-primary {
  color: #4668c3;
  border-color: #4668c3;
}
.btn-outline-primary:hover {
  background-color: #0f2e83;
  border-color: #0f2e83;
}
.btn-primary:hover {
  background-color: #0f2e83;
  border-color: #0f2e83;
}
.btn-primary {
  background-color: #4668c3;
  border-color: #4668c3;
  display: block;
}

/* WeatherDescription */
/* Temp Units Icon Descript */
.temperature {
  font-size: 3rem;
  font-weight: 360;
}
.temperature,
.units {
  margin-top: 2rem;
}

.units {
  position: relative;
  top: -17px;
}

.tempIcon {
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 25%;
  padding-top: 1rem;
}

.description {
  text-transform: capitalize;
}
.icon {
  padding-left: 0px;
}
/* WeatherDescription (from WeatherDescription component that was migrated to Main and then deleted) */
.weather-description {
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 14%;
  padding-top: 1rem;
  line-height: 1em;
  padding-bottom: 1rem;
}
/* End Temp Units Icon Descript */

.signature {
  margin-top: 5%;
  display: block;
  margin-bottom: 20%;
  padding-left: 10%;
}

@media only screen and (min-width: 995px) {
  .signature {
    padding-left: 25%;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
